@use "../stylesheets/colors";

.icon {
    height: 1em;
    @include colors.fill(colors.$foreground);
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    .icon {
        // FIXME @include colors.fill(colors.lighter(colors.$gray));
        height: 1em;
        animation: loading 2s infinite linear;
    }
}

.golden-content {
    > .loading {
        > .icon {
            height: min(50vh, 50vw);
            width: min(50vh, 50vw);
        }
    }
}
