@use "../stylesheets/colors";
@use "../stylesheets/form";


.modal-edit {
    display: flex;
    flex-direction: column;

    .buttons {
        margin-top: 1em;
    }

    .input-group {
        .icon {
            height: 0.75em;
        }
    }

    .timestamp {
        text-align: right;
        font-size: smaller;
        color: colors.darker(colors.$gray);
    }
}


