@use "../../stylesheets/colors";
@use "sass:math";
@use "../../stylesheets/layers";

.pull-to-refresh {
  $-layer: layers.$body;
  position: relative;

  .pull-to-refresh .status {
    text-align: center;
  }

  .stretcher-wrapper {
    $-stretcher-color: colors.lighter(colors.$gray);
    $-stretcher-size: 3em;
    $-loading-color: colors.textOn($-stretcher-color);
    $-loading-margin: 0.5em;

    display: inline-flex;
    flex-direction: column;
    position: relative;
    z-index: $-layer;

    svg {
      @include colors.fill($-stretcher-color);
      height: math.div($-stretcher-size, 2);
      width: $-stretcher-size;
    }

    .loading {
      position: absolute;
      top: $-loading-margin;
      left: $-loading-margin;
      z-index: $-layer + 1;

      .icon {
        $-loading-size: $-stretcher-size - 2 * $-loading-margin;
        height: $-loading-size;
        width: $-loading-size;
        @include colors.fill($-loading-color);
      }
    }
  }
}

.pull-to-refresh.status {
  display: block;
  position: absolute;
  top: 0;
  left: calc((100vw - 3em) / 2);
}

.pull-to-refresh.refreshable {
  position: absolute;
  top: 0;
}

.pull-to-refresh.status.hidden {
  display: none;
  height: 0;
}
